<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.js Zipi</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app">
      <div class="window flexi">
        <div class="box flexi">
          <div class="title content">
            <h1>Search cities by</h1>
            <h1>zip code</h1>
          </div>
          <div class="content">
            <p>This search works only for USA.</p>
            <p>You have to type more than a 5 digits.</p>
          </div>
          <input v-model="startingZip" type="text" class="form-control" placeholder="Starting Zip">
          <span v-bind:class="{ active: isActive }" class="city flexi">{{ startingCity }}</span>
        </div>
      </div>
    </div>
  </body>

  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
  <script src="app.js" type="text/javascript"></script>
</html>
