*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body, p, h1 {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.4em;
}
input {
  padding: 7px 10px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #ddd;
}
.flexi {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.window {
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;
}
.box {
  min-width: 400px;
  min-height: 400px;
  background-color: #fff;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: absolute;
  padding: 30px;
  border-radius: 3px
}
.box .content {
  padding: 30px;
  padding-top: 0;
}
.city {
  position: absolute;
  bottom: 0;
  height: 100px;
}
.active {
  color: #03a9f4;
}
